@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@theme {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
}
